<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="game-container">

        <h1>Rock Paper Scissors</h1>

        <p class="subtitle">Choose your option</p>

        <form method="POST" class="choices">

            <button type="submit" name="choice" value="Rock">
                🪨
                <span>Rock</span>
            </button>

            <button type="submit" name="choice" value="Paper">
                📄
                <span>Paper</span>
            </button>

            <button type="submit" name="choice" value="Scissor">
                ✂️
                <span>Scissor</span>
            </button>

        </form>

        {% if user %}

        <div class="result-box">

            <div class="choice">
                <p>Your Choice</p>
                <h2>{{ user }}</h2>
            </div>

            <div class="vs">VS</div>

            <div class="choice">
                <p>Computer Choice</p>
                <h2>{{ computer }}</h2>
            </div>

        </div>

        <div class="result">
            <h2>{{ result }}</h2>
        </div>

        {% endif %}

    </div>

</body>
</html>